.frame6
{
position:absolute;
background-color:#ffffff;
height:832px;
width:1280px;
padding:0px;
}
.rectangle32
{
background-color:#2557af;
height:6px;
width:883px;
left:330px;
top:161px;
position:absolute;
}
.rectangle79
{
background-color:#2557af;
height:146px;
width:1280px;
position:absolute;
top:0px;
left:0px;
}
.rectangle27
{
height:146px;
width:857px;
position:absolute;
top:0px;
left:-1px;
}
.rectangle28
{
background-color:#deddde;
height:633px;
width:199px;
top:167px;
left:39px;
position:absolute;
}
.rectangle80
{
background-color:#6b6b6b;
height:1px;
width:199px;
top:246px;
left:39px;
position:absolute;
}
.rectangle87
{
background-color:#6b6b6b;
height:2px;
width:199px;
top:316px;
left:39px;
position:absolute;
}
.rectangle82
{
background-color:#6b6b6b;
height:1px;
width:199px;
top:387px;
left:39px;
position:absolute;
}
.rectangle83
{
background-color:#6b6b6b;
height:1px;
width:199px;
top:457px;
left:39px;
position:absolute;
}
.rectangle84
{
background-color:#6b6b6b;
height:2px;
width:199px;
top:527px;
left:39px;
position:absolute;
}
.rectangle85
{
background-color:#6b6b6b;
height:70px;
width:199px;
top:598px;
left:39px;
position:absolute;
}
.rectangle86
{
background-color:#6b6b6b;
height:1px;
width:199px;
top:668px;
left:39px;
position:absolute;
}
.image6
{
height:45px;
width:49px;
border-radius:26.5px;
left:51px;
top:189px;
position:absolute;
}
.esquadrilhadafumaça-eda
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:197px;
width:95px;
height:29px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image7
{
height:44px;
width:45px;
left:54px;
top:260px;
position:absolute;
}
.fabtv
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:274px;
width:45px;
height:15px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image8
{
height:44px;
width:46px;
border-radius:24.5px;
left:54px;
top:330px;
position:absolute;
}
.rádioforçaaéreafm
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:337px;
width:72px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image9
{
height:45px;
width:46px;
border-radius:25px;
left:54px;
top:400px;
position:absolute;
}
.aerovisão
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:415px;
width:62px;
height:15px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image10
{
height:44px;
width:46px;
border-radius:24px;
left:54px;
top:471px;
position:absolute;
}
.publicaçõesdafab
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:478px;
width:95px;
height:30px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.reservainterativa
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:557px;
width:95px;
height:11px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.aplicativofab
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:626px;
width:95px;
height:15px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.imagens
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:10px;
font-family:Inter;
left:111px;
top:696px;
width:56px;
height:15px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image19
{
height:44px;
width:46px;
border-radius:18px;
left:53px;
top:541px;
position:absolute;
}
.image20
{
height:45px;
width:45px;
border-radius:18px;
left:53px;
top:611px;
position:absolute;
}
.image21
{
height:44px;
width:47px;
border-radius:18px;
left:51px;
top:682px;
position:absolute;
}
.rectangle88
{
background-color:#deddde;
height:67px;
width:883px;
top:167px;
left:330px;
position:absolute;
}
.aplicativofab2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:32px;
font-family:Inter;
left:338px;
top:181px;
width:267px;
height:39px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.app_fab_new1
{
height:567px;
width:386px;
border-radius:25px;
left:579px;
top:246px;
position:absolute;
}
