body{
    background-color: #204689;
}
.frame3
{
position:absolute;
background: #204689;
height:832px;
width:1280px;
padding:0px;
}
.rectangle23
{
background-color:#deddde;
height:44px;
width:457px;
left:88px;
top:324px;
position:absolute;
}
.rectangle25
{
background-color:#deddde;
height:44px;
width:457px;
top:472px;
left:88px;
position:absolute;
}
.rectangle26
{
background-color:#deddde;
height:44px;
width:156px;
top:558px;
left:239px;
position:absolute;
}
.rectangle24
{
background-color:#deddde;
height:44px;
width:457px;
top:398px;
left:88px;
position:absolute;
}
.digiteseue-mail
{
color:#5e5e5e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:103px;
top:336px;
width:144px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cpf
{
color:#5e5e5e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:103px;
top:484px;
width:144px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.entrar
{
color:#5e5e5e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:292px;
top:570px;
width:49px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.senha
{
color:#5e5e5e;
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Inter;
left:103px;
top:410px;
width:144px;
height:20px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.cadastrar
{
color:#deddde;
text-align:left;
vertical-align:text-top;
font-size:48px;
font-family:Inter;
left:198px;
top:200px;
width:231px;
height:58px;
position:absolute;
line-height:auto;
border-style:hidden;
outline:none;
}
.image18
{
height:386px;
width:525px;
left:666px;
top:246px;
position:absolute;
}
